## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
tmdb=pd.read_csv('zippedData/tmdb.movies.csv')

In [2]:
tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [3]:
budget=pd.read_csv('zippedData/tn.movie_budgets.csv')

In [4]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [5]:
rtm=pd.read_csv('zippedData/rt.movie_info.tsv', sep="\t" )

In [6]:
rtm.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [7]:
rtr=pd.read_csv('zippedData/rt.reviews.tsv', sep= '\t', encoding='latin1')

In [8]:
rtr.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [9]:
budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [10]:
budget = budget['production_budget'].str[1:]

In [11]:
budget.head()

0    425,000,000
1    410,600,000
2    350,000,000
3    330,600,000
4    317,000,000
Name: production_budget, dtype: object

In [12]:
budget['production_budget]'.replace(',', '')

SyntaxError: unexpected EOF while parsing (<ipython-input-12-1877912af0fa>, line 1)

In [ ]:
budget['production_budget'] = budget['production_budget'].astype('int')

In [ ]:
bom=pd.read_csv('zippedData/bom.movie_gross.csv')

In [ ]:
bom.head()

In [ ]:
bom.info()

In [14]:
success= pd.read_csv('zippedData/success.csv')

In [26]:
success = success.sort_values(by= "return_on_investment", ascending=False)

In [28]:
success.head(40)

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,return_on_investment,year
857,5679,80,2015-07-10,The Gallows,100000,22764410,41656474,416.564740,2015
820,5211,12,2012-01-06,The Devil Inside,1000000,53262945,101759490,101.759490,2012
808,5062,63,2011-04-01,Insidious,1500000,54009150,99870886,66.580591,2011
821,5213,14,2015-04-17,Unfriended,1000000,32789645,64364198,64.364198,2015
712,4249,50,2017-01-20,Split,5000000,138141585,278964806,55.792961,2017
818,5189,90,2014-03-21,Godâs Not Dead,1150000,60755732,63777092,55.458341,2014
711,4248,49,2017-02-24,Get Out,5000000,176040665,255367951,51.073590,2017
619,3517,18,2012-05-25,Les Intouchables,10800000,13182281,484873045,44.895652,2012
809,5063,64,2016-10-21,Moonlight,1500000,27854931,65245512,43.497008,2016
823,5217,18,2012-05-25,Chernobyl Diaries,1000000,18119640,42411721,42.411721,2012
713,4250,51,2011-10-21,Paranormal Activity 3,5000000,104028807,207039844,41.407969,2011
691,4083,84,2014-10-03,Annabelle,6500000,84273813,256862920,39.517372,2014
714,4252,53,2013-09-13,Insidious Chapter 2,5000000,83586447,161921515,32.384303,2013
651,3755,56,2016-12-21,Dangal,9500000,12391761,294654618,31.016276,2016
840,5358,59,2011-12-30,Jodaeiye Nader az Simin,800000,7098492,24426169,30.532711,2011
775,4666,67,2013-06-07,The Purge,3000000,64473115,91266581,30.422194,2013
716,4254,55,2016-07-22,Lights Out,5000000,67268835,148806510,29.761302,2016
776,4668,69,2012-10-12,Sinister,3000000,48086903,87727807,29.242602,2012
719,4258,59,2012-10-19,Paranormal Activity 4,5000000,53900335,142817992,28.563598,2012
858,5685,86,2017-07-07,A Ghost Story,100000,1594798,2769782,27.697820,2017
764,4590,91,2018-04-13,Truth or Dare,3500000,41411015,95127344,27.179241,2018
822,5216,17,2013-08-23,You're Next,1000000,18494006,26887177,26.887177,2013
856,5672,73,2012-06-15,Your Sister's Sister,120000,1597486,3090593,25.754942,2012
587,3342,43,2014-06-06,The Fault in Our Stars,12000000,124872350,307166834,25.597236,2014
620,3535,36,2018-10-19,Halloween,10000000,159342015,254900667,25.490067,2018
718,4257,58,2017-10-13,Happy Death Day,5000000,55683845,125010260,25.002052,2017
774,4665,66,2015-08-28,War Room,3000000,67790117,73975239,24.658413,2015
680,3987,88,2012-06-29,Magic Mike,7000000,113721571,170549753,24.364250,2012
786,4811,12,2013-01-11,A Haunted House,2500000,40041683,59922558,23.969023,2013
715,4253,54,2016-03-11,10 Cloverfield Lane,5000000,72082999,108286422,21.657284,2016
484,2491,92,2016-12-09,La La Land,20000000,151101803,426351163,21.317558,2016
720,4259,60,2014-10-24,Ouija,5000000,50856010,103300632,20.660126,2014
544,3001,2,2017-08-11,Annabelle: Creation,15000000,102092201,305384865,20.358991,2017
721,4261,62,2013-08-30,No se Aceptan Devoluciones,5000000,44467206,100486616,20.097323,2013
360,1623,24,2017-09-08,It,35000000,327481748,697457969,19.927371,2017
717,4255,56,2015-09-11,The Visit,5000000,65206105,98677816,19.735563,2015
532,2865,66,2018-04-06,A Quiet Place,17000000,188024361,334522294,19.677782,2018
860,5748,49,2015-09-01,Exeter,25000,0,489792,19.591680,2015
837,5337,38,2013-07-12,Fruitvale Station,900000,16098998,17549645,19.499606,2013
725,4269,70,2014-01-03,Paranormal Activity: The Marked Ones,5000000,32462372,90904854,18.180971,2014